vrrp_instance {{ ansible_hostname }} {
    state {{ keepalived_state }}
    interface {{ ansible_default_ipv4.interface }}
    virtual_router_id 10
    priority {{ keepalived_priority }}
    advert_int 1
    authentication {
        auth_type AH
        auth_pass 123321
    }
    unicast_peer {
        {{ keepalived_unicast }}
    }
    virtual_ipaddress {
        192.168.100.100 dev {{ ansible_default_ipv4.interface }} label {{ ansible_default_ipv4.interface }}:vip
    }
}